@charset "utf-8";
/* CSS Document - Surcharge css Agence */

/* Roboto */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf')  format("truetype");
}
@font-face {
    font-family: 'Roboto-Italic';
    src: url('fonts/Roboto-RegularItalic.ttf')  format("truetype");
}
@font-face {
    font-family: 'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf')  format("truetype");
}
@font-face {
    font-family: 'Roboto-Black-Italic';
    src: url('fonts/Roboto-BlackItalic.ttf')  format("truetype");
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf')  format("truetype");
}
@font-face {
    font-family: 'Roboto-Bold-Italic';
    src: url('fonts/Roboto-BoldItalic.ttf')  format("truetype");
}
/* Header */
.logo{
	background-image: url(img/world_wine_meetings_logo@2x.png);
	background-size: 293px 120px;
}

.site-banner .gsf-trigger .icon-search {
	background-image: url(img/loupe@2x.png);
	background-size: 17px 18px;
}
.site-banner .gsf-trigger .icon-search:hover {
	background-image: url(img/loupe_on@2x.png);
	background-size: 17px 18px;
}
