@charset "utf-8";
/* CSS Document - Surcharge css Agence */

/* Roboto */
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto/Roboto-Regular.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('fonts/Roboto/Roboto-RegularItalic.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Bold-Italic';
	src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto/Roboto-Bold.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Bold-Italic';
	src: url('fonts/Roboto/Roboto-BoldItalic.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto/Roboto-Light.ttf') format("truetype");
}

@font-face {
	font-family: 'Roboto-Light-Italic';
	src: url('fonts/Roboto/Roboto-LightItalic.ttf') format("truetype");
}
/* GENERAL */
body {
	background-color: white;
	font-family: 'Roboto';
}

.site-banner .inside, .header-navigation .inside, .site-footer .inside {
	max-width: none;
}

.wrapper, .site-wrapper {
	max-width: 100%;
	margin: auto;
}

.site-wrapper {
	margin-bottom: 0px;
	background: white;
	box-shadow: 0 0 0;
	padding: 0px;
}

.btn-primary {
	background-color: transparent;
	border: none;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
	color: #ffffff;
	background-color: transparent;
	border: none;
}

.site-banner .gsf-submit-btn {
	background-image: url(img/rond-search.png);
}

.site-banner .gsf-submit-btn:hover {
	background-image: url(img/rond-search.png);
}

h2, .h2-like {
	font-family: Roboto-Bold;
	font-size: 30px;
	font-weight: normal;
	color: black;
	border: none;
}

h2 strong, .h2-like strong {
	font-weight: normal;
}

h3, .h3-like {
	font-family: Roboto-Bold;
	font-size: 16px;
	font-weight: normal;
	color: black;
	border: none;
}

h3 strong, .h3-like strong {
	font-weight: normal;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: #A28B42;
	text-decoration: none;
}

.content-list-bullet>li::before {
	-webkit-transform: none;
	transform: none;
}

.content-list-bullet li::before {
	background: #A28B42;
}

.article-focus:nth-child(1) h2 {
	font-family: Roboto-Bold;
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	color: black;
	border: none;
}

.article-focus {
	border: none;
}

.block-page {
	/*max-width: 1144px;*/
	padding: 32px;
}

/* Liste producer .. */
.externe {
	text-decoration: underline;
}

.externe:hover {
	text-decoration: underline;
	color: #A28B42;
}

.article-focus ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	max-width: 1080px;
	margin-bottom: 22px
}

.article-focus li {
	min-width: 230px;
	border-left: 2px solid #9e9c9d;
	border-spacing: 0px;
	font-family: "Roboto-Light";
	font-size: 24px;
	color: #1A1A1A;
	padding-left: 15px;
	height: 56px;
	line-height: 26px;
	margin-bottom: 20px;
}

.article-focus li strong {
	color: #A28B42;
}

.article-focus li a {
	color: #1A1A1A;
}
/* FIN GENERAL */

/* HEADER */
.logo {
	background-image: url(img/world_wine_meetings_logo@2x.png);
	background-size: 293px 120px;
}

.site-banner .gsf-trigger .icon-search {
	background-image: url(img/loupe@2x.png);
	background-size: 17px 18px;
}

.site-banner .gsf-trigger .icon-search:hover {
	/*background-image: url(img/loupe_on@2x.png);
	background-size: 17px 18px;*/
	
}

.site-banner {
	background-color: #1A1A1A;
}

.site-banner .inside {
	padding: 0px;
}

.logo {
	float: left;
	width: 293px;
	height: 120px;
	display: inline-block;
}

.site-banner .inside div:nth-child(2) {
	float: left;
	padding-top: 39px;
}

.site-banner .inside div:nth-child(2) li .btn-primary {
	font-family: Roboto-Bold;
	color: #A28B42;
	font-size: 16px;
	text-transform: capitalize;
}

.site-banner .inside div:nth-child(3) {
	float: right;
	margin-right: 48px;
	padding-top: 10px;
}

.site-banner .inside div:nth-child(3) li {
	display: inline-block;
}

.site-banner .inside div:nth-child(3) li .btn-primary {
	color: white;
	font-size: 11px;
	font-family: "Roboto-Bold";
	padding-right: 20px;
	border-right: 1px solid white;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 11px;
}

.site-banner .linkid758731 .btn-primary {
	padding-left: 20px !important;
}

.site-banner .gsf-trigger {
	display: block;
	height: 18px;
	padding-top: 25px;
}

.site-banner .global-search-form.is-visible .gsf-trigger, .site-banner .gsf-trigger:hover,
	.site-banner .gsf-trigger:focus {
	background: none;
}

.site-banner .global-search-form {
	top: 0px;
	right: 0px;
}

.icon-search::before {
	content: none;
}

.site-banner .gsf-trigger .icon-search {
	width: 17px;
	height: 18px;
	display: inline-block;
}

.site-banner .inside div:nth-child(3) {
	padding-top: 20px;
}

.js .site-banner .gsf-fields {
	position: relative;
}

.site-banner {
	padding-right: 10px;
}

.site-banner .global-search-form {
	padding-top: 10px;
}

.site-banner .gsf-fields {
	background-color: white;
	padding: 0px !important;
	border: none;
	height: 50px;
	top: 20px;
}

.site-banner .gsf-submit-btn {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 4px;
}

.site-banner .gsf-submit-btn:hover {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.site-banner .gsf-submit-btn:active {
	background-color: white;
	background-repeat: no-repeat;
	background-position: center;
}

.site-banner .gsf-submit-text {
	font-size: 6px;
}

.site-banner .gsf-trigger {
	padding-top: 16px;
}

.site-banner .gsf-input-line {
	padding-top: 3px;
}

.site-banner .gsf-fields .gsf-input {
	border-right: 1px solid black;
}

.site-banner .tt-dropdown-menu {
	top: 0px;
}

.is-sticky .logo {
	height: 70px;
	background-position-y: -20px;
}

.is-sticky  .site-banner .inside div:nth-child(2) {
	padding-top: 18px;
}

.site-banner .gsf-fields .typeahead-section-name {
	color: black;
	font-family: Roboto;
	border: none;
}

.tt-suggestion {
	clear: both;
	padding-top: 0px !important;
}

.tt-suggestion a:hover, .tt-suggestion a:active, .tt-suggestion a:focus
	{
	background-color: transparent;
	color: inherit;
}
/* FIN HEADER */
/* MOBILE MENU */
#mobile_menu {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: #102127;
	z-index: 10000;
	display: none;
}

#mobile_menu_close {
	position: absolute;
	top: 40px;
	right: 30px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

#mobile_menu_close_1 {
	position: absolute;
	top: 0px;
	width: 40px;
	height: 1px;
	background-color: white;
	transform: rotate(45deg);
	width: 40px;
	top: 0px;
}

#mobile_menu_close_2 {
	position: absolute;
	top: 0px;
	width: 40px;
	height: 1px;
	background-color: white;
	transform: rotate(-45deg);
}

#mobile_menu ul li .btn-primary {
	margin-left: 10px;
	font-family: Roboto-Bold;
	color: white;
	font-size: 16px;
	text-transform: capitalize;
}

#mobile_menu ul:nth-child(2) li .btn-primary {
	margin-top: 80px;
	margin-left: 10px;
	font-family: Roboto-Bold;
	color: #A28B42;
	font-size: 16px;
	text-transform: capitalize;
	font-family: Roboto-Bold;
}

.mobile_menu_sep {
	width: 25px;
	height: 1px;
	margin-left: 42px;
	background-color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mobile_menu_sep:last-child {
	display: none;
}

#mobile_menu .gsf-submit-btn {
	background-image: url(img/rond-search.png);
	padding: 0px;
	background-color: white;
	min-height: 34px;
	height: 34px;
	border: none;
	color: white;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: center;
	width: 60px;
	transition: none;
	border-right: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
	/* padding-right: 40px; */
}

#mobile_menu .gsf-fields {
	background: white;
	margin-left: 40px;
	margin-right: 40px;
	padding: 0px;
	margin-top: 100px;
}

#mobile_menu .gsf-input {
	border: none;
	width: 100%;
}

#mobile_menu .gsf-submit-text {
	font-size: 6px;
	text-align: center;
	padding-right: 1px;
	line-height: 36px;
}

#mobile_menu .gsf-submit-line {
	width: 110px;
}

#mobile_menu .gsf-submit-line {
	background-image: url(img/loupe_on@2x.png);
	background-size: 17px 18px;
	background-repeat: no-repeat;
	background-position-x: 75px;
	background-position-y: center;
}

#mobile_menu .disclaimer {
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}
/* burger */
#burger {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 35px;
	right: 20px;
	z-index: 10000;
	cursor: pointer;
}

.is-sticky #burger {
	top: 10px;
}

#burger div {
	width: 40px;
	height: 3px !important;
	background-color: white;
	border-radius: 2px;
	z-index: 100;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	float: none;
	padding-top: 0;
}

/* FIN MOBILE MENU */
/* HOME */
.front .article-focus:nth-child(1) p:nth-of-type(1) {
	width: 50%;
	float: left;
	content: " ";
	height: 353px;
}

.front .article-focus:nth-child(1) .af-title {
	background-image: url(img/world_wine_meetings_global.png);
}

.node1235852 .article-focus:nth-child(1) .af-title {
	background-image: url(img/world_wine_meetings_global.png);
}

.front .article-focus * {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
/*bloc 1 + global */
.front .article-focus:nth-child(1), .node1235852 .article-focus:nth-child(1)
	{
	background-image: url(img/background_home.jpg);
	background-color: #3e3c3d;
	padding-top: 85px;
	padding-left: 0px;
	background-repeat: no-repeat;
	/* background-size: 100% auto; */
	margin-top: 0px;
	margin-bottom: 0px;
}

.front .article-focus:nth-child(1) .af-title, .node1235852 .article-focus:nth-child(1) .af-title
	{
	float: left;
	width: 40%;
	height: 383px;
	background-repeat: no-repeat;
	/* background-position: left center; */
	background-size: contain;
	color: transparent;
	max-width: 683px;
}

.front .article-focus:nth-child(1) p, .front .article-focus:nth-child(1) h4,
	.node1235852 .article-focus:nth-child(1) p, .node1235852 .article-focus:nth-child(1) h4
	{
	width: 540px;
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 0px;
	text-align: left;
}

.front .article-focus:nth-child(1) p u, .node1235852 .article-focus:nth-child(1) p u
	{
	text-decoration: none;
}

.front .article-focus:nth-child(1) p:nth-of-type(1), .node1235852 .article-focus:nth-child(1) p:nth-of-type(1)
	{
	display: none;
}

.front .article-focus:nth-child(1) p:nth-of-type(2), .node1235852 .article-focus:nth-child(1) p:nth-of-type(2)
	{
	font-family: Roboto-Bold;
	font-size: 34px;
	color: white;
	line-height: 64px;
	border-bottom: 1px solid white;
}

.front .article-focus:nth-child(1) p:nth-of-type(3), .node1235852 .article-focus:nth-child(1) p:nth-of-type(3)
	{
	font-family: Roboto-Bold;
	font-size: 30px;
	color: white;
	line-height: 46px;
	border-bottom: 1px solid white;
}

.front .article-focus:nth-child(1) p:nth-of-type(4), .node1235852 .article-focus:nth-child(1) p:nth-of-type(4)
	{
	font-family: Roboto-Bold;
	font-size: 30px;
	color: white;
	line-height: 46px;
}

.front .article-focus:nth-child(1) p:nth-of-type(4) strong, .node1235852 .article-focus:nth-child(1) p:nth-of-type(4) strong
	{
	font-weight: normal;
}

.front .article-focus:nth-child(1) p:nth-of-type(5), .node1235852 .article-focus:nth-child(1) p:nth-of-type(5)
	{
	color: white;
	font-size: 22px;
	font-family: Roboto;
}

.front .article-focus:nth-child(1) h4, .node1235852 .article-focus:nth-child(1) h4
	{
	font-family: Roboto-Bold;
	font-size: 32px;
	color: #A28B42;
	line-height: 36px;
	font-weight: normal;
	margin-bottom: 0px;
}

.front .article-focus:nth-child(1) ul, .node1235852 .article-focus:nth-child(1) ul
	{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 195px;
	margin-bottom: 35px;
	padding-left: 0px;
	max-width: 1080px;
	padding-left: 32px;
}

.front .article-focus:nth-child(1) li, .node1235852 .article-focus:nth-child(1) li
	{
	min-width: 230px;
	border-left: 2px solid #9e9c9d;
	border-spacing: 0px;
	font-family: "Roboto-Light";
	font-size: 24px;
	color: white;
	padding-left: 15px;
	height: 56px;
	line-height: 26px;
	margin-bottom: 20px;
}

.front .article-focus:nth-child(1) li strong, .node1235852 .article-focus:nth-child(1) li strong
	{
	color: #A28B42;
}

.front .article-focus:nth-child(1) li a, .node1235852 .article-focus:nth-child(1) li a
	{
	color: white;
}
/* fin bloc 1 */

/* bloc 2 */
.front .article-focus:nth-child(2) {
	padding-top: 75px;
	/*padding-left: 0px;*/
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 80px;
}

.front .article-focus:nth-child(2) * {
	text-align: center;
	font-size: 16px;
	line-height: 32px;
	font-weight: normal;
}

.front .article-focus:nth-child(2) .af-title {
	font-size: 13px;
	font-family: Roboto-Bold;
	font-weight: normal;
	color: #A28B42;
	text-transform: uppercase;
}

.front .article-focus:nth-child(2) h2 {
	font-size: 34px;
	color: black;
	font-family: Roboto-Bold;
	font-weight: normal;
	border: none;
	padding-bottom: 0px;
}

.front .article-focus:nth-child(2) p {
	font-size: 16px;
	line-height: 20px;
	color: black;
	font-family: Roboto;
}
/* fin bloc 2 */

/* bloc 3 agenda */
#agenda {
	background-color: #3e3c3d
}

.container_agenda {
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
}

#agenda h2 {
	font-family: Roboto-Bold;
	font-size: 34px;
	color: white;
	border: none;
	font-weight: normal;
	text-align: center;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 70px;
	margin-bottom: 0px;
}

.agenda_item {
	display: flex;
	flex-wrap: wrap;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	justify-content: space-around;
}

.agenda_left_column {
	width: 50%;
	min-width: 365px;
	margin-bottom: 110px;
}

.agenda_right_column {
	width: 50%;
	border-top: 1px solid white;
	min-width: 365px;
	margin-bottom: 110px;
}

#agenda h3 {
	font-family: Roboto-Bold;
	font-size: 30px;
	color: white;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 10px;
}

#agenda .date {
	font-family: Roboto-Bold;
	font-size: 30px;
	color: white;
	font-weight: normal;
	margin-bottom: 0px;
	line-height: 30px;
	padding-bottom: 10px;
}

#agenda .place {
	font-family: Roboto-Bold;
	font-size: 30px;
	color: #A28B42;
	line-height: 30px;
	font-weight: normal;
	margin-bottom: 0px;
	padding-bottom: 10px;
	font-weight: normal;
}

#agenda .id {
	font-family: Roboto-Bold;
	font-size: 24px;
	color: white;
	line-height: 24px;
	font-weight: normal;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#agenda .plus {
	background-image: url(img/world_wine_meetings_plus@2x.png);
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	background-size: 32px 32px;
	display: inline-block;
	margin-top: 10px;
}

.globe {
	background-repeat: no-repeat;
	background-position: 20px;
	min-height: 230px;
}

.globe_paris {
	background-image: url(img/globe_paris@2x.png);
	background-size: 224px 225px;
}

.globe_chicago {
	background-image: url(img/globe_chicago@2x.png);
	background-size: 226px 230px;
}

.globe_san_francisco {
	background-image: url(img/globe_san_francisco@2x.png);
	background-size: 237px 226px;
}

.globe_shangai {
	background-image: url(img/globe_shangai@2x.png);
	background-size: 225px 225px;
}
/* bloc 3 agenda */
/* FIN HOME */

/* GLOBAL */
/* bloc 1 */

/* fin bloc1 */
/* bloc 2 */
.node1235852 .article-focus:nth-child(2) {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
}

.node1235852 .article-focus:nth-child(2) * {
	text-align: center;
}

.node1235852 .article-focus:nth-child(2) .af-title {
	font-size: 30px;
	font-family: Roboto-Bold;
	font-weight: normal;
	color: black;
	text-align: left;
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	line-height: 120px;
	padding-left: 32px;
	padding-right: 32px;
}

.node1235852 .article-focus:nth-child(2) p:nth-of-type(1) {
	background-image: url(img/globe_paris@2x.png);
	width: 34%;
	float: left;
	height: 390px;
	margin-top: 0px;
	background-color: #1A1A1A;
	background-repeat: no-repeat;
	background-size: 225px 224px;
	background-position: 90% center;
}

.node1235852 .article-focus:nth-child(2) h3 {
	width: 66%;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #1A1A1A;
	text-align: left;
	font-size: 24px;
	font-family: Roboto-Bold;
	color: white;
	font-weight: normal;
	padding-top: 90px;
	padding-left: 50px;
	height: 170px;
	line-height: 40px;
	overflow: hidden;
}

.node1235852 .article-focus:nth-child(2) p:nth-of-type(2) {
	width: 66%;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #1A1A1A;
	text-align: left;
	font-size: 16px;
	line-height: 32px;
	font-family: Roboto;
	color: white;
	font-weight: normal;
	padding-right: 50px;
	padding-left: 50px;
	height: 220px;
	overflow: hidden;
	padding-bottom: 15px;
}

.node1235852 .article-focus:nth-child(2) p:nth-of-type(3) {
	clear: both;
}
/* fin bloc 2 */

/* bloc 3 */
.node1235852 .article-focus:nth-child(3) {
	display: flex;
	flex-wrap: wrap;
	max-width: 1080px;
	margin-top: 54px;
	padding-top: 0px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.node1235852 .article-focus:nth-child(3) table {
	width: auto !important;
}

.node1235852 .article-focus:nth-child(3) .af-title {
	width: 22%;
	font-family: Roboto-Bold;
	font-size: 30px;
	color: #A28B42;
	font-weight: normal;
	line-height: 24px;
	padding-bottom: 32px;
	font-family: Roboto-Bold;
}

.node1235852 .article-focus:nth-child(3) table tr:first-child td {
	min-width: 260px;
}

.node1235852 .article-focus:nth-child(3) table tr:nth-child(1) td p:nth-child(2)
	{
	font-size: 15px;
	line-height: 24px;
}

.node1235852 .article-focus:nth-child(3) table tr:nth-child(1) td p:nth-child(2) strong
	{
	color: #A28B42;
}

}
.node1235852 .article-focus:nth-child(3) table tr:nth-child(2) td strong
	{
	margin-top: 30px;
	display: inline-block;
	color: #A28B42;
	font-size: 15px;
	line-height: 24px;
	font-family: Roboto-Bold;
	font-weight: normal;
	line-height: 24px;
}

.node1235852 .article-focus:nth-child(3) table tr:first-child p {
	margin-right: 35px;
}

.node1235852 .article-focus:nth-child(3) table tr:first-child p:first-child
	{
	font-family: Roboto-Bold;
	font-size: 19px;
	color: #A28B42;
	font-weight: normal;
	border-bottom: 1px solid #A28B42;
	border-top: 1px solid #A28B42;
	margin-right: 35px;
	line-height: 40px;
}

.node1235852 .article-focus:nth-child(3) table tr:not (:first-child ) p
	{
	font-family: Roboto;
	font-size: 15px;
	color: black;
	line-height: 24px;
	padding-top: 30px;
}

.node1235852 .article-focus:nth-child(3) table tr:not (:first-child ) p strong
	{
	color: #A28B42;
}
/* fin bloc3 */

/* bloc 4 CHIFFRES */
#chiffres {
	background-color: #102127;
}

.container_chiffres {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
}

.chiffres_item {
	max-width: 250px;
	min-width: 250px;
	text-align: center;
}

.chiffres {
	font-family: Roboto-Bold;
	font-size: 34px;
	padding-top: 65px;
}

.chiffres_text {
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	padding-bottom: 70px;
}

/* fin bloc4  CHIFFRES */

/* FIN GLOBAL */

/* ABOUT */

/* bloc 1 */
.node1235883 .article-focus:nth-child(1) {
	background-color: #102127;
	max-width: 100%;
	min-height: 400px;
	margin-top: 0px;
}

.node1235883 .article-focus:nth-child(1) * {
	color: white;
	text-align: center;
}

.node1235883 .article-focus:nth-child(1) h3 {
	font-size: 15px;
	line-height: 24px;
	font-family: Roboto;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	font-weight: normal;
}

.node1235883 .article-focus:nth-child(1) .af-title {
	font-family: Roboto-Bold;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	padding-top: 28px;
}

.node1235883 h2.main-title {
	font-family: Roboto-Bold;
	font-size: 30px;
	color: black;
	font-weight: normal;
}

.node1235883 .article-focus:nth-child(1) p:nth-of-type(2) {
	font-family: Roboto;
	font-size: 16px;
	line-height: 32px;
	text-align: center;
	color: black;
	border: none;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}
/* fin bloc1 */
/* bloc 2*/
.node1235883 .list-articles {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.node1235883 .list-articles h2.main-title {
	text-transform: none;
}

.node1235883 .list-articles .main-title-with-link {
	border: none;
	margin-bottom: 40px;
}

.node1235883 .list-articles .cxp-pagination .la-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.node1235883 .list-articles .cxp-pagination .la-item+.la-item {
	margin-top: 0px;
}

.node1235883 .list-articles .cxp-pagination .la-list .la-item {
	min-width: 250px;
	max-width: 250px;
	border: none;
	padding-left: 10px;
}

.node1235883 .list-articles .cxp-pagination .la-list .la-item .la-item-title
	{
	font-family: Roboto-Bold;
	font-size: 20px;
	color: #A28B42;
	font-weight: normal;
	line-height: 25px;
	min-height: 50px;
}
/* fin bloc2 */
/* bloc 3*/
.node1235883 tbody, .node1235883 tbody tr {
	display18: flex;
	flex-wrap: wrap;
}

.node1235883 tbody {
	width: 100%;
}

.node1235883 tbody tr {
	width: 100%;
}

.node1235883 tbody td {
	width: 50%;
	margin: 0;
}

.node1235883 .block-page:last-child {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
	background: white;
}

.node1235883 .block-page:last-child .af-title {
	font-family: Roboto-Bold;
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 48px;
	color: black;
	padding-left: 32px;
	padding-right: 32px;
}

.node1235883 .block-page:last-child table tr:first-child td:last-child {
	background-color: #53130F;
}

.node1235883 .block-page:last-child table tr:first-child td:first-child,
	.node1235883 table tr:last-child td:last-child {
	vertical-align: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.node1235883 .block-page:last-child table tr:last-child td:first-child {
	background-color: #102127;
}

.node1235883 .block-page:last-child table p {
	font-family: Roboto-Bold;
	font-size: 24px;
	color: white;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
}

.node1235883 .block-page:last-child table ol {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	margin-top: 20px;
	list-style-position: inside;
	list-style: none;
	counter-reset: li;
	list-style: none;
}

.node1235883 .block-page:last-child table li {
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	color: white;
	display: flex;
	counter-increment: li;
	padding-bottom: 20px;
}

.node1235883 .block-page:last-child li::before {
	content: counter(li);
	color: white;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	font-size: 34px;
	margin-right: 50px;
	font-family: Roboto-Bold;
	opacity: 0.5;
	line-height: 40px;
	padding-left: 34px;
}

.node1235883 .block-page:last-child figure {
	height: 387px;
	overflow: hidden;
	margin: 0px;
}

.node1235883 .block-page:last-child figure img {
	width: 100%;
	height: auto;
}
/* fin bloc3 */
/* bloc 4 */
.node1235852 .article-focus:last-child {
	max-width: 1080px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.node1235852 .article-focus:last-child .af-title {
	font-family: Roboto-Bold;
	font-size: 30px;
	font-weight: normal;
	padding-bottom: 48px;
	color: #A28B42;
}

.node1235852 .article-focus:last-child table tbody {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.node1235852 .article-focus:last-child table tbody tr {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	margin-bottom: 20px;
}

.node1235852 .article-focus:last-child table tbody td {
	min-width: 50%;
	min-height: 320px;
	margin-top: 0px;
}

.node1235852 .article-focus:last-child table tbody td:last-child {
	padding-left: 50px;
}

.node1235852 td figure {
	height: 320px;
	overflow: hidden;
	margin: 0px;
}

.node1235852 td figure img {
	width: 100%;
	height: auto;
}

.node1235852 .article-focus:nth-child(3) table tr p:first-child {
	font-family: Roboto-Bold;
	font-size: 19px;
	color: #A28B42;
	font-weight: normal;
	border-bottom: 1px solid #A28B42;
	border-top: 1px solid #A28B42;
	margin-right: 35px;
	line-height: 40px;
}



.node1235852 .article-focus:nth-child(3) table tr {
	display: flex;
	flex-wrap: wrap;
}


/* fin bloc 4*/
/* FIN ABOUT */

/* ARTICLE */
.article .site-wrapper {
	
}

.article .article-title {
	background-color: #53130F;
	margin-bottom: 0px;
	padding-top: 75px;
	min-height: 200px;
}

.article .article-title .at-publication {
	display: none;
}

.article .article-title .at-main-title {
	text-align: center;
	color: white;
	font-family: Roboto-Bold;
	font-size: 34px;
	font-weight: normal;
	text-align: center;
	border: none;
}

.article .article-intro {
	margin: 0px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: #53130F;
	font-size: 16px;
	color: white;
	text-align: center;
	line-height: 32px;
	padding-bottom: 100px;
}

.article .article-intro p {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.article .article-content {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 40px;
}

.article .article-content h3 strong {
	font-family: Roboto-Bold;
	font-size: 18px;
	font-weight: normal;
	color: #53130F;
	border: none;
}

.article .article-content h3 strong::after {
	background: #53130F none repeat scroll 0 0;
	content: "";
	display: block;
	height: 3px;
	margin-top: 10px;
	width: 20px;
	/* margin: auto; */
}

.article p {
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
}

.article-content ul li::before {
	background: #53130F;
}

.social-sharing {
	display: none;
}

.article-navigation {
	display: none;
}
/* FIN ARTICLE */
/* CONTACT */
.contact a, .contact a:hover {
	color: white;
}

.contact h1 {
	font-family: Roboto-Bold;
	font-size: 34px;
	color: black;
	border: none;
	font-weight: normal;
	max-width: 1366px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 34px;
	padding-top: 80px;
	padding-bottom: 80px;
	margin-bottom: 0px;
}

.contact .cl-item {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	background-color: #102127;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 0px;
}

.contact .cl-item>* {
	display: block;
}

.contact .cl-item-illust, .contact .cl-item-content {
	min-width: 316px;
	width: 50%;
	min-height: 320px;
	padding-top: 50px;
}

.contact .cl-item-illust {
	background-repeat: no-repeat;
	background-position: center center;
}

.contact .cl-item .cl-item-illust:nth-child(1) {
	background-image: url(img/globe_paris@2x.png);
	background-size: 224px 225px;
}

.contact .cl-item .cl-item-illust:nth-child(2) {
	background-image: url(img/globe_chicago@2x.png);
	background-size: 226px 230px;
}

.contact .cl-item .cl-item-illust:nth-child(3) {
	background-image: url(img/globe_san_francisco@2x.png);
	background-size: 237px 226px;
}

.contact .cl-item .cl-item-illust:nth-child(4) {
	background-image: url(img/globe_shangai@2x.png);
	background-size: 225px 225px;
}

.contact h2 {
	display: none;
}

.contact .cl-item-title {
	font-family: Roboto-Bold;
	font-size: 15px;
	line-height: 24px;
	color: white;
	font-weight: normal;
}

.contact .cl-item-subtitle {
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	color: white;
	margin-top: 0px;
}

.contact .cl-item-email, .contact .cl-item-phone {
	font-family: Roboto;
	font-size: 15px;
	line-height: 24px;
	color: white;
	margin-top: 0px;
}

.cl-item-address {
	border-top: 1px solid #A28B42;
	border-bottom: 1px solid #A28B42;
	font-family: Roboto-Bold;
	font-size: 19px;
	line-height: 38px;
	color: #A28B42;
	max-width: 316px;
	margin-bottom: 13px;
}

.flag-icon-fr {
	display: none;
}
/* FIN CONTACT */
/* SEARCH RESULT */
.search #main {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.search-result {
	min-height: 500px;
	padding-top: 90px;
}

.search-result .main-title {
	font-family: Roboto-Bold;
	font-size: 118px;
	font-weight: normal;
	text-align: center;
	color: black;
	line-height: 118px;
	padding-top: 80px;
	border: none;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.search-result h2 {
	color: black;
	font-size: 16px;
	font-family: Roboto;
	font-weight: normal;
	text-align: center;
	border: none;
	margin: 0px;
	/* padding: 0px; */
	padding-top: 15px;
	padding-bottom: 15px;
}

.search-result .gsf-fields {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	height: 46px;
}

.search-result .gsf-input {
	color: black;
	width: 100%;
	border: none;
}

.search-result .gsf-submit-btn {
	height: 30px;
	min-height: 30px;
	background-color: white;
	color: black;
	margin-top: 7px;
	margin-bottom: auto;
	border-left: 1px solid black;
	background-size: 17px 18px;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50px;
}

.search-result .gsf-submit-text {
	display: none;
}

.search-result .ep-form-wrap {
	margin-top: 50px;
}

.search-result .tt-dropdown-menu {
	top: auto;
	margin-top: 15px;
}

.sr-main-title {
	font-family: Roboto-Bold;
	font-size: 34px;
	font-weight: normal;
	border: none;
	text-align: center;
	color: black;
	margin-top: 80px;
	margin-bottom: 80px;
}

.sr-main-title .sr-term {
	font-weight: normal;
}

.sr-term {
	color: #A28B42;
}

.sr-noresult .sr-noresult-title {
	color: #A28B42;
}

.sr-item {
	border: none;
	margin-bottom: 20px;
}

.sr-item-title {
	margin-bottom: 20px;
}

.sr-item-title a {
	font-family: Roboto-Bold;
	font-size: 18px;
	font-weight: normal;
	color: #A28B42;
}

.sr-item-title a:hover {
	color: #A28B42;
	text-decoration: none;
}

.sr-item-title a::after {
	background: #A28B42 none repeat scroll 0 0;
	content: "";
	display: block;
	height: 3px;
	margin-top: 10px;
	width: 20px;
	/* margin: auto; */
}
/* FIN SEARCH RESULT */

/* SOCIAL BAR */
#social_bar {
	width: 35px;
	height: 140px;
	background-color: #1A1A1A;
	z-index: 10;
	position: fixed;
	top: 220px;
	right: 30px;
}

#social_linkedin {
	background-size: 18px 18px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 40px;
	width: 100%;
	cursor: pointer;
}

#social_newsletter {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

#social_newsletter a {
	font-size: 12px;
	line-height: 35px;
	font-family: Roboto;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

/* FIN SOCIAL BAR */
/* HEADER */

/* FIN HEADER */
/*SOCIAL*/
#social_linkedin {
	background-image: url(img/social-linkedin.png);
}
/* FOOTER */
.site-footer {
	background: #1a1a1a;
}

.site-footer .inside {
	padding-top: 60px;
	padding-bottom: 60px;
}

.site-footer .inside>* {
	display: block;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

.disclaimer {
	text-align: center;
	color: #545454;
	font-family: "Roboto";
	font-size: 12px;
	padding-left: 30px;
	padding-right: 30px;
}

.site-footer .quicklinks ul {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	padding-bottom: 35px;
	padding-bottom: 0px;
}

.site-footer .quicklinks .btn-primary {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: "Roboto";
	font-size: 11px;
	border-right: 1px solid white;
	line-height: 8px;
}

.site-footer .quicklinks li:last-child  .btn-primary {
	border-right: none;
}

.disclaimer {
	padding-bottom: 20px;
}

.site-footer .quicklinks ul li {
	line-height: 11px;
	padding-top: 6px;
	padding-bottom: 6px;
}
/* FIN FOOTER */

/* 404 */
.error404 #main {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

.error-page {
	min-height: 500px;
	padding-left: 32px;
	padding-right: 32px;
}

.error-page .main-title {
	font-family: Roboto-Bold;
	font-size: 118px;
	font-weight: normal;
	text-align: center;
	color: black;
	line-height: 118px;
	padding-top: 80px;
	border: none;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

.error-page h2 {
	color: black;
	font-size: 16px;
	font-family: Roboto;
	font-weight: normal;
	text-align: center;
	border: none;
	margin: 0px;
	/* padding: 0px; */
	padding-top: 15px;
	padding-bottom: 15px;
}

.error-page .gsf-fields {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	height: 46px;
}

.error-page .gsf-input {
	color: black;
	width: 100%;
	border: none;
}

.error-page .gsf-submit-btn {
	height: 30px;
	min-height: 30px;
	background-color: white;
	color: black;
	margin-top: 7px;
	margin-bottom: auto;
	border-left: 1px solid black;
	background-image: url(img/loupe_on@2x.png);
	background-size: 17px 18px;
	background-position: center center;
	background-repeat: no-repeat;
	width: 50px;
}

.error-page .gsf-submit-text {
	display: none;
}

.error-page .ep-form-wrap {
	margin-top: 50px;
}

.error-page .tt-dropdown-menu {
	top: auto;
	margin-top: 15px;
}
/* FIN 404 */
/* SEARCH RESULT */
.search-result .gsf-submit-btn {
	background-image: url(img/loupe_on@2x.png);
}
/* FIN SEARCH RESULT */

/* SITEMAP */
.sitemap #main {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	min-height: 680px;
}

.sitemap h1 {
	font-family: Roboto-Bold;
	font-size: 34px;
	font-weight: normal;
	color: #A28B42;
	border: none;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}

.sm-item-title {
	font-family: Roboto;
	font-size: 30px;
	font-weight: normal;
	color: black;
	border: none;
}

/* FIN SITEMAP */

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
	.site-banner .inside .block {
		display: none;
	}
	#burger {
		display: block;
	}
	.front .article-focus:nth-child(1), .node1235852 .article-focus:nth-child(1)
		{
		padding-left: 32px;
	}
	.front .article-focus:nth-child(1) .af-title, .node1235852 .article-focus:nth-child(1) .af-title
		{
		display: none;
	}
	.front .article-focus:nth-child(1) p, .front .article-focus:nth-child(1) h4,
		.node1235852 .article-focus:nth-child(1) p, .node1235852 .article-focus:nth-child(1) h4
		{
		margin: 0px;
		width: 100%;
	}
	.agenda_left_column, .agenda_right_column {
		width: 100%;
		min-width: unset;
	}
	.globe {
		background-position: center;
	}
	#agenda {
		padding-left: 30px;
		padding-right: 30px;
	}
	.node1235852 .article-focus:nth-child(2) p:nth-of-type(1) {
		width: 100%;
		background-position: center;
	}
	.node1235852 .article-focus:nth-child(2) h3 {
		width: 100%;
	}
	.node1235852 .article-focus:nth-child(2) p:nth-of-type(2) {
		width: 100%;
		height: auto;
	}
	.node1235852 .article-focus:nth-child(3) .af-title {
		width: 100%;
	}
	.node1235883 .article-focus:nth-child(1) {
		height: auto;
	}
	#social_bar {
		right: 0;
	}
	.contact .cl-item-illust, .contact .cl-item-content {
		max-width: 100%;
		min-width: 100%;
		width: 100%;
	}
	.site-footer .quicklinks ul li {
		width: 100%;
	}
	.site-footer .quicklinks .btn-primary {
		border: none;
	}
	.node1235883 tbody td {
		width: 100%;
	}
	.node1235883 .list-articles .cxp-pagination .la-list .la-item {
		max-width: 100%;
	}
	.node1235852 .article-focus:nth-child(3) table tr:first-child td {
		min-width: 100% !important;
		margin-bottom: 20px;
	}
	
	.node1235852 .article-focus:last-child table tbody td {
		min-width: 100%;
	}
	.node1235852 .article-focus:last-child table tbody td:last-child {
		padding-left: 0px;
		padding-top: 20px;
	}
}
@media only screen and (min-width: 768px) {
	#burger {
		display: none;
	}
}

@media only screen and (max-width: 1080px) {
	.node1235852 .article-focus:nth-child(3) table {
		width: 100% !important;
	}
	.node1235852 .article-focus:nth-child(3) table td {
		min-width: 33% !important;
	}

}
/* FIN RESPONSIVE */